---
const { href, text, classes, onClick } = Astro.props;

const allClasses = [
  'text-custom-red',
  'bg-custom-pink',
  'text-3xl',
  'py-3',
  'px-16',
  'border-4',
  'border-white',
  'rounded-lg',
  'font-rubik-mono',
  'drop-shadow-xl',
  'hover:scale-105',
  'hover:transition',
  classes
].join(' ');
---

{
  href ? (
    <a href={href} class={allClasses}>
      {text}
    </a>
  ) : (
    <button class={allClasses} onclick={onClick}>{text}</button>
  )
}
